*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Poppins';
}
ol, ul {
	list-style: none;
}
:root{
  --color01--: #EF5F4C;
  --color02--:#313131;
  --color03--:#6C6C6C;
}
